{% extends 'layout.html' %} {% block content %}

<div class="row col-md-12">
    <h2>Bienvenue dans votre application de streaming</h2>
    <p>Recherchez vos musiques par critère(s) :</p>
</div>

{% include 'search_form.html' %} {% include 'table_musics.html' %}

<script>
    $('#search').click(function () {
        var searchFilters = {
            "keywords": $("#keywords").val(),
            "genre": $("#genre").val(),
            "titre": $("input[type=checkbox][name=titre]").is(":checked"),
            "album": $("input[type=checkbox][name=album]").is(":checked"),
            "artiste": $("input[type=checkbox][name=artiste]").is(":checked")
        };
        console.log(searchFilters);
        $.post("/search", searchFilters).done(function (data) {
            results = data.results;

            $('#searchResults th').remove();
            $('#resultBody tr').remove();

            if (results.length > 0) {
                var headers = [{ "title": "", "class": "class='col-md-1'" },
                { "title": "Titre", "class": "class='col-md-6'" },
                { "title": "Artiste(s)", "class": "class='col-md-5'" }];

                for (var i in headers) {
                    $("#resultHead tr").append($("<th " + headers[i].class + ">").text(headers[i].title));
                }

                var logo = "<img src='{{url_for('static', filename='images/play-button.png')}}' />"
                $.each(results, function (i, item) {
                    $('<tr>').append(
                        $('<td>').prepend(logo),
                        $('<td>').text(item.titre),
                        $('<td>').text(item.artiste)).appendTo('#resultBody');
                });
            }
        });
    });
</script> {% endblock %}