{% extends 'layout.html' %} {% block content %}

<div class="row col-md-12">
    <h2>Bienvenue dans votre application de streaming</h2>
    <p>Recherchez vos musiques par critères :</p>
</div>

{% include 'search_form.html' %} {% include 'table_musics.html' %}

<script>
    function play(path, i) {
        if( $("a[item=" + i + "]").attr('state')=='Stop'){

            var list = $('a[item]').not($("a[item=" + i + "]")).not('a[state=Stop]')
            $(list).each(function( index ) {
                if($(this).attr('state') == 'Pause')
                    $(this).attr('state','Stop').children("img").attr('src', '{{url_for('static', filename='images/play-button.png')}}')
                    $(this).attr('onclick',"play("+$(this).attr('onclick').split('(')[1])
                if($(this).attr('state') == 'Play')
                    $(this).attr('state','Stop').children("img").attr('src', '{{url_for('static', filename='images/play-button.png')}}')
                    $(this).attr('onclick',"play("+$(this).attr('onclick').split('(')[1])
                if($(this).attr('state') == 'Replay')
                    $(this).remove()
            })

            $("a[item=" + i + "]").attr('state', 'Play')
            $("a[item=" + i + "]").attr('onclick', 'pause(\'' + path + '\',' + i + ')')
            $("a[item=" + i + "][state=Play]").children("img").attr('src', '{{url_for('static', filename='images/pause-button.png')}}')
            var balise =' <a href="#replay" item="'+i+'" onclick="replay(\'' + path +'\','+i+')" state="Replay">'
            var next="<img src='{{url_for('static', filename='images/replay-button.png')}}' />";
            $("a[item=" + i + "][state=Play]").parent().append(balise+next)
        }else if ($("a[item=" + i + "]").attr('state')=='Pause') {
            $("a[item=" + i + "][state=Pause]").attr('state', 'Play')
            $("a[item=" + i + "][state=Play]").attr('onclick', 'pause(\'' + path + '\',' + i + ')')
            $("a[item=" + i + "][state=Play]").children("img").attr('src', '{{url_for('static', filename='images/pause-button.png')}}')
        }

        $.post("/play", {'path': path}).done(function (data) {
        });
    }

    function pause(path, i) {
        $("a[item=" + i + "][state=Play]").attr('state', 'Pause')
        $("a[item=" + i + "][state=Pause]").attr('onclick', 'play(\'' + path + '\',' + i + ')')
        $("a[item=" + i + "][state=Pause]").children("img").attr('src', '{{url_for('static', filename='images/play-button.png')}}')
        $.post("/pause", {'path': path}).done(function (data) {
        });
    }

    function replay(path, i) {
        console.log($("a[item=" + i + "]").attr('state'))
            $("a[item=" + i + "][state=Play]").attr('state', 'Pause')
            $("a[item=" + i + "][state=Pause]").attr('onclick', 'pause(\'' + path + '\',' + i + ')')
            $("a[item=" + i + "][state=Pause]").children("img").attr('src', '{{url_for('static', filename='images/pause-button.png')}}')
        $.post("/replay", {'path': path}).done(function (data) {
        });
    }

    $('#search').click(function () {
        var searchFilters = {
            "keywords": $("#keywords").val(),
            "genre": $("input[type=checkbox][name=genre]").is(":checked"),
            "title": $("input[type=checkbox][name=title]").is(":checked"),
            "author": $("input[type=checkbox][name=author]").is(":checked"),
            "composer": $("input[type=checkbox][name=composer]").is(":checked"),
            "instrument": $("input[type=checkbox][name=instrument]").is(":checked"),
            "subject": $("input[type=checkbox][name=subject]").is(":checked"),
            "description": $("input[type=checkbox][name=description]").is(":checked"),
            "rating": $("#rating").val(),
        };
        $.post("/search", searchFilters).done(function (data) {
            results = data.results;

            $('#searchResults th').remove();
            $('#resultBody tr').remove();

            if (results.length > 0) {
                $('#noResult').hide();
                var headers = [{"title": "", "class": "class='col-md-1'"},
                    {"title": "Titre", "class": "class='col-md-6'"},
                    {"title": "Artiste(s)", "class": "class='col-md-5'"}];

                for (var i in headers) {
                    $("#resultHead tr").append($("<th " + headers[i].class + ">").text(headers[i].title));
                }

                $.each(results, function (i, item) {
                    var preLogo = '<a href="#play" item="' + i + '" onclick="play(\'' + item.path + '\',' + i + ')" state="Stop">';
                    var logo = "<img src='{{url_for('static', filename='images/play-button.png')}}' />";
                    var postLogo = "</a>";
                    $('<tr>').append(
                        $('<td>').prepend(preLogo + logo + postLogo),
                        $('<td>').text(item.title),
                        $('<td>').text(item.author)).appendTo('#resultBody');
                });
            } else {
                $('#noResult').show();
            }
        });
    });
</script> {% endblock %}