{% extends 'layout.html' %} {% block content %}

<div class="row col-md-12">
    <h2>Bienvenue dans votre application de streaming</h2>
    <p>Recherchez vos musiques par critères :</p>
</div>

{% include 'search_form.html' %} {% include 'table_musics.html' %}

<script>
    $('#search').click(function () {
        var searchFilters = {
            "keywords": $("#keywords").val(),
            "genre": $("input[type=checkbox][name=genre]").is(":checked"),
            "title": $("input[type=checkbox][name=title]").is(":checked"),
            "author": $("input[type=checkbox][name=author]").is(":checked"),
            "composer": $("input[type=checkbox][name=composer]").is(":checked"),
            "instrument": $("input[type=checkbox][name=instrument]").is(":checked"),
            "subject": $("input[type=checkbox][name=subject]").is(":checked"),
            "description": $("input[type=checkbox][name=description]").is(":checked"),
            "rating": $("#rating").val(),
        };
        console.log(searchFilters);
        $.post("/search", searchFilters).done(function (data) {
            results = data.results;

            $('#searchResults th').remove();
            $('#resultBody tr').remove();

            if (results.length > 0) {
                $('#noResult').hide();
                var headers = [{ "title": "", "class": "class='col-md-1'" },
                { "title": "Titre", "class": "class='col-md-6'" },
                { "title": "Artiste(s)", "class": "class='col-md-5'" }];

                for (var i in headers) {
                    $("#resultHead tr").append($("<th " + headers[i].class + ">").text(headers[i].title));
                }

                var logo = "<img src='{{url_for('static', filename='images/play-button.png')}}' />"
                $.each(results, function (i, item) {
                    $('<tr>').append(
                        $('<td>').prepend(logo),
                        $('<td>').text(item.title),
                        $('<td>').text(item.author)).appendTo('#resultBody');
                });
            } else {
                $('#noResult').show();
            }
        });
    });
</script> {% endblock %}