<div class="row col-md-12">
    <div class="form-group">
        <input type="text" class="form-control" id="keywords" placeholder="Recherchez par mot-clés">
    </div>
    <div class="form-group">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Genres</button>
            <input type="checkbox" class="hidden" name="genre" />
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Titres</button>
            <input type="checkbox" class="hidden" name="title" />
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Artistes</button>
            <input type="checkbox" class="hidden" name="author" />
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Compositeur</button>
            <input type="checkbox" class="hidden" name="composer" />
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Instruments</button>
            <input type="checkbox" class="hidden" name="instrument" />
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Thèmes</button>
            <input type="checkbox" class="hidden" name="subject" />
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Description</button>
            <input type="checkbox" class="hidden" name="description" />
        </span>
    </div>
    <div class="form-group">
        <label for="rating">Note</label>
        <select class="form-control" id="rating">
          <option value="0" selected>Toutes</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div> 
    <div class="form-group">
        <button id="search" type="submit" class="btn btn-primary btn-lg btn-block">Rechercher</button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/button_checkbox.js') }}"></script>