<div class="row col-md-12">
    <div class="form-group">
        <input type="text" class="form-control" id="keywords" placeholder="Recherchez par mot-clés">
    </div>
    <div class="form-group">
        <label for="genre">Sélectionnez un genre :</label>
        <select class="form-control" id="genre">
            {% for genre_label in genre %}
            <option value="{{ genre_label }}">{{ genre_label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Titres</button>
            <input type="checkbox" class="hidden" name="titre" />
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Albums</button>
            <input type="checkbox" class="hidden" name="album" />
        </span>
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Artistes</button>
            <input type="checkbox" class="hidden" name="artiste"/>
        </span>
    </div>
    <div class="form-group">
        <button id="search" type="submit" class="btn btn-primary btn-lg btn-block">Rechercher</button>
    </div>
</div>
<script src="{{ url_for('static', filename='js/button_checkbox.js') }}"></script>